body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 300%;
    text-align: center;
    line-height: 40px;
    -webkit-box-reflect: below 0 linear-gradient(transparent,rgba(0,0,0,0.7));
}